body {
    height: 100%;
    background: $backgraund;
    font-family: "EuropeNormal";
    height: 100%;
}

.main_body {
    background: $backgraund;
    max-width: $container;
    margin: 0 auto;
}

.btn {
    background: $red;
    padding: 14px 32px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    &:hover {
        color: white;
        background-color: $lightRed;
        transition: 0.3s all ease;
    }
    @media (max-width: $breakpoint768) {
        padding: 8px 21px;
    }
}

.btn_outline{
    text-decoration: none;
    border: 1px solid $red;
    padding: 14px 32px;
    border-radius: 6px;
    color: $red;
    &:hover {
        color: white;
        background: $lightRed;
        transition: 0.3s all ease;
    }
    @media (max-width: $breakpoint768) {
        padding: 8px 21px;
    }
}