@import "_vars.scss";


.main_body {
    font-family: Europa;
    margin: 0 auto;
}

.container {
    max-width: $container;
    padding: 0px 30px;
    margin: auto;
}

.btn {
    background: $red;
    padding: 14px 32px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    &:hover {
        color: white;
        background-color: $lightRed;
        transition: 0.3s all ease;
    }
    @media (max-width: $breakpoint768) {
        padding: 8px 21px;
    }
    @media (max-width: $breakpoint992) {
        padding: 10px 18px;
    }
}

.btn_outline{
    text-decoration: none;
    border: 1px solid $red;
    padding: 14px 32px;
    border-radius: 6px;
    color: $red;
    &:hover {
        color: white;
        background: $lightRed;
        transition: 0.3s all ease;
        cursor: pointer;
    }
    @media (max-width: $breakpoint768) {
        padding: 8px 21px;
    }
    @media (max-width: $breakpoint992) {
        padding: 10px 18px;
    }
}

li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }