@import "_vars.scss";

.head {
    max-width: $container;
    margin: auto;
    height: 100px;
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0px;
        .menu {
            display: flex;
            align-items: center;
            @media (max-width: $breakpoint480) {
                display: none;
            }
            .menu_item {
                display:flex;   
                color: $grey;
                margin-left: 60px;
                .menu_item-link {
                    text-decoration: none;
                    // &:hover {
                    //     color: $lightRed;
                    //     transition: 0.3s all ease;
                    // }
                }
            }
        }
        .burger {
            display: none;
        }
    }
}
