@import "_vars.scss";

.head {
    background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    margin: auto;
    height: 100px;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0px;
        .menu {
            display: flex;
            align-items: center;
            @media (max-width: $breakpoint480) {
                display: none;
            }
            @media (max-width: $breakpoint768) {
                display: none;
            }
            .menu_item {
                display:flex;   
                margin-left: 60px;
                .menu_item-link {
                    text-decoration: none;
                    color: $grey;
                    &:hover {
                        color: $red;
                    }
                }
            }
        .burger {
            display: none;
        }
    }
}
}