@import "_vars.scss";
@import "_global.scss";


.setions_line {
    background-color: white;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line_title {
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    color: $blue;
    @media (max-width: $breakpoint480) {
        margin-top: 10px;
    }
}
.line_subtitle {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $grey;
}

.products {
    display: flex;
    gap: 32px;
    padding-bottom: 90px;
    justify-content: center;
    @media (max-width: $breakpoint768) {
        flex-wrap: wrap;
        gap: 0;
    }
}


.products_item {
    flex: 0 1 50%;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
    border-radius: 8px;
    margin-top: 97px;
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint1400) {
        margin-top: 50px;
    }
    @media (max-width: $breakpoint768) {
        flex: 0 0 100%;
    }
}

.products_item-content {
    padding: 52px 62px 0px 62px;
    @media (max-width: $breakpoint1400) {
        padding: 40px 40px 0px 40px;
    }
    @media (max-width: $breakpoint992) {
        padding: 30px 30px 0px 30px;
    }
}

.products_item-logo {
    svg {
        @media (max-width: $breakpoint992) {
            max-width: 150px;
        }
    }
}

.products_item-text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 31px;
    color: #3A3A3C;
    @media (max-width: $breakpoint1400) {
        margin-top: 30px;
        font-size: 22px;
    }
    @media (max-width: $breakpoint992) {
        font-size: 20px;
        line-height: 23px;
    }
}
.products_item-btn {
    margin-top: 32px;
    display: inline-flex;
    padding: 15px 24px;
    @media (max-width: $breakpoint992) {
        margin-top: 24px;
        padding: 10px 18px;
    }
    span {
        padding-right: 11px;
    }
}

.products_item-btn:hover {
    path {
        stroke: white;
        transition: 0.3s all ease;
    }
}

.product_item-footer_1  {
    padding: 0 10px;
    margin-top: auto;
    img {
        content: url(../images/cookie_bot_img.png);
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

.product_item-footer_2 {
    padding: 0 10px;
    margin-top: auto;
    img {
        content: url(../images/webto_img_bot.svg);
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}