$backgraund: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
$backgraund_2: #E5E5E5;
$container: 1008px;
$breakpoint1400: 1399.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;



//colors
$blue: #1A2578;
$grey:  #484C63;
$red: #BF0830;
$lightRed: #dc143c;