$backgraund: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
$backgraund_2: #E5E5E5;
$container: 1008px;


.body {
    background: $backgraund;

}

// .container {
//     background: $backgraund;

// }